*.out
!*/maple_scripts/*/runtimes/*.out
!*/magma_scripts/*/runtimes/*.out
.DS*
visualizations/*
IdentifiabilityODE.mpl
.ipynb_checkpoints
*.json
helens-models
gravity.mpl
julia-examples.mpl
*.mw
simple.mpl
